/*bayragin kirmizi arka plani olusturuldu. bayrak sayfa acildiginda ortalanmasi icin yatayda margin auto ve yukaridan 3vw
degeri verdim. */
/*bayrak olculerini tam tutturmak icin rakamlara küsürat vermek zorunda kaldim.
bayrak olculeri sayfa kucultuldugunde otomotik kuculmesi icin vw cinsinden verilmistir*/
#flagbackground {
    background-color: #FF0000;
    width: 40vw;
    height: 40vw;
    margin: 3vw auto;
    /*golge efekti verildi*/
    box-shadow: 1vw 1vw 1vw;
}

/*cross'un dikey kismi. basta absolute ile left-bottom degerleri verdim fakat cross'un dikey ve yatay kisimlari birbirinin 
üzerine oturmadi. bu nedenle absolute ile beraber margin degerleri verdim bu sayede dikey ve yatay kisimlar ortada birlesti*/
#crossvertical {
    background-color: white;
    width: 7.5vw;
    height: 25vw;
    position: absolute;
    margin-top: 7.5vw;
    margin-left: 16.25vw;
}

/*cross'un yatay kismi*/
#crosshorizantal {
    background-color: white;
    width: 25vw;
    height: 7.5vw;
    position: absolute;
    margin-top: 16.25vw;
    margin-left: 7.5vw;
}