body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f3f3;
}

/*main leftside, rightside ve footerdan olusmaktadir */
main {
    width: 60vw;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10vh;
}

/*leftside özellikleri*/
#leftside {
    width: 28vw;
}

h1 {
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-block-start: 1em;
    margin-block-end: 0em;
}

h1,
.vergessen-link:nth-child(1) {
    color: #4267B2;
}

#leftside>p {
    font-size: 1.3em;
    margin-top: 0.4em;
}

.info {
    font-family: Helvetica, Arial, sans-serif;
    color: #1c1e21;
}

/*rightside kismi flex ile olusturuldu*/
#rightside {
    width: 24vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*form id sinin icinde form tagi ve section#konto bölumlerine özellik verildi */
#form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 22vw;
    border-radius: 3%;
    padding-bottom: 3vh;
    box-shadow: 1px 1px 10px #c4c6c9;
}

/*form tagina flex verildi*/
#form>form {
    width: 20vw;
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-data {
    opacity: 0.6;
}

.form-data>input {
    font-size: 0.7rem;
}

.form-data>input,
button {
    width: 17vw;
    padding: 1vh 1vw;
}

/*input taglari*/
.form-data>input:hover {
    border: 2px solid #4267B2;
}

button {
    width: 19.2vw;
    background-color: #4267B2;
    color: #ffffff;
    border-radius: 4px;
    border: none;
}

/*button tagina hover verildi*/
button:hover {
    background-color: #2958b6;
}

/**formun 2. kismi konto bolumu*/
#konto {
    width: 18vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.vergessen-link {
    padding: 1vh 1vw;
    width: 18vw;
}

.vergessen-link:nth-child(1) {
    font-size: 12px;
    font-weight: 600;
    font-family: inherit;
    text-align: center;
    opacity: 0.8;
}

.vergessen-link:nth-child(1):hover {
    text-decoration: underline;
}

.vergessen-link:nth-child(2) {
    background-color: #42b72a;
    padding: 1.7vh 0.7vw;
    width: 10vw;
    text-align: center;
    font-size: 0.8rem;
    border: 0px solid none;
    border-radius: 6px;
    font-weight: 800;
}

.vergessen-link:nth-child(2):hover {
    background-color: #1b9203;
}

.vergessen-link>a {
    text-decoration: none;
}

.vergessen-link:nth-child(2)>a {
    color: #ffffff;
}

/*form kutusunun altindaki text bolumune ozellik verildi*/
#text-info {
    text-align: center;
    font-size: 12px;
    width: 16vw;
    border-top: none;
    font-weight: normal;
    padding-top: 0;
}

/*footer kismi*/
footer {
    width: 60vw;
    height: 23vh;
    background-color: #ffffff;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

/*footerdaki linkler dizayn edildi*/
footer a,
.footer-link {
    text-decoration: none;
    color: #1c1e21;
    opacity: 0.8;
    font-size: 12px;
    font-family: inherit;
}

.footer-link {
    width: 54vw;
    margin-left: 3vw;
    word-spacing: 5px;
}

.footer-link:nth-child(1)>a {
    line-height: 5vh;
}

.footer-link:nth-child(2)>a {
    line-height: 3vh;
}

/*footerdaki linklere hover verildi*/
footer a:hover {
    opacity: 1;
    text-decoration: underline;
}

span {
    background-color: #dbdada;
    padding: 1px 3px;
}