* {
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    background-color: #F6F8FC;
}

main {
    width: 80vw;
    height: 92vh;
    background-color: #67A9F2;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 6vh;
    padding: 20px;
}

/*maini 3 satira ayirdim. satirlara rows classi atadim*/
.rows {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rows>section:nth-child(n) {
    background-color: #F6F8FC;
}

/*ilk satirin elemanlari*/
#row1 {
    height: 20vh;
    z-index: 1;
}

/*text kutucugu*/
#text {
    width: 25vw;
    height: 20vh;
    background-color: #F6F8FC;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#text-content1 {
    width: 20vw;
    height: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#text-content1>div:nth-child(1) {
    width: 20vw;
    height: 3vh;
    background-color: #67A9F2;
}

#text-content1>div:nth-child(2) {
    width: 20vw;
    height: 2vh;
    background-color: #67A9F2;
}

#text-content2 {
    background-color: #67A9F2;
    width: 5vw;
    height: 5vh;
}

/*video kutucugu*/
#video {
    width: 35vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-symbol {
    width: 2vw;
    height: 4.7vh;
    background-color: #67A9F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.3vw;
}

#video-symbol>div {
    height: 0;
    width: 0;
    border-top: 8px solid transparent;
    border-left: 16px solid #F6F8FC;
    border-bottom: 8px solid transparent;
}
/*1. satirin en son kutucugu*/
#list {
    width: 13vw;
    height: 30.5vh;
    background-color: #67A9F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-row {
    background-color: #F6F8FC;
    width: 13vw;
    height: 2vh;
}

/*2. satirin elemanlari*/
#row2 {
    height: 50vh;
    z-index: 0;
}

/*telefon resmi*/
#phone {
    width: 13vw;
    height: 50vh;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    row-gap: 2vh;
    padding-top: 2vh;
}

#phone>div:nth-child(1) {
    background-color: #67A9F2;
    width: 5vw;
    height: 0.3vh;
}

#phone>div:nth-child(2) {
    background-color: #67A9F2;
    width: 11vw;
    height: 40vh;
    border-radius: 3px;
}

#phone>div:nth-child(3) {
    width: 2vw;
    height: 4vh;
    border-radius: 50%;
    background-color: #F6F8FC;
    border: 2px solid #67A9F2;
}

/*2. satirda ki ortada bulunan büyük image*/
#big-image {
    height: 52vh;
    width: 37vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.image-ball {
    background-color: #67A9F2;
    height: 6.5vh;
    width: 3vw;
    border-radius: 50%;
    position: relative;
    top: 11vh;
    right: 4vw;
}

.triangle-image {
    display: flex;
    align-items: baseline;
    position: relative;
    right: 1.5vw;
}

.triangle-image>div:nth-child(1) {
    height: 0;
    width: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #67A9F2;
    position: relative;
    left: 3vw;
}

.triangle-image>div:nth-child(2) {
    height: 0;
    width: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 80px solid #67A9F2;
}

#three-points {
    display: flex;
    justify-content: space-between;
    width: 4vw;
    height: 2vh;
}

#three-points>div {
    background-color: #67A9F2;
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
}

/*2. satirin sondaki kucuk resim elemani*/
#image-button {
    width: 23vw;
    height: 52vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #67A9F2; 
}

#buttons {
    display: flex;
}

.button-icon {
    background-color: #F6F8FC;
    width: 3.8vw;
    height: 5vh;
    border-radius: 20px;
}

.button-icon:nth-child(1)>div {
    width: 1.9vw;
    height: 4.4vh;
    border-radius: 50%;
    border: 2px solid #67A9F2;
}

.button-icon:nth-child(2) {
    margin-left: 0.8vw;
    display: flex;
    justify-content: flex-end;
}

.button-icon:nth-child(2)>div {
    width: 1.9vw;
    height: 4.4vh;
    border-radius: 50%;
    border: 2px solid #e0e2e6;
    background-color: #67A9F2;
}

#little-image {
    background-color:#F6F8FC;
    width: 23vw;
    height: 33vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:center;
    padding-bottom: 10vh;
}

/*3. satirin elemanlari*/
#row3 {
    height: 8vh;
}
/* arama cubugu*/
#search {
    width: 52vw;
    height: 6vh;
    border: 2px solid #F6F8FC;
}

#search>div:nth-child(1) {
    width: 38vw;
    height: 6vh;
    background-color: #67A9F2;
}
/*sosyal medya linkleri*/
#social-media {
    width: 23vw;
    height: 6.5vh;
    background-color: #67A9F2;
    display: flex;
    justify-content: space-between;
}

#social-media>i:nth-child(n) {
   color: #F6F8FC;
   position: relative;
   bottom: 0.5vh;
}