/*text kutucugu*/
#text-content1 {
    width: 20vw;
    height: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#text-content1>div:nth-child(1) {
    width: 20vw;
    height: 3vh;
    background-color: #67A9F2;
}

#text-content1>div:nth-child(2) {
    width: 20vw;
    height: 2vh;
    background-color: #67A9F2;
}

#text-content2 {
    background-color: #67A9F2;
    width: 5vw;
    height: 5vh;
}

/*video kutucugu*/
#video-symbol {
    width: 2vw;
    height: 4.7vh;
    background-color: #67A9F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.3vw;
}

#video-symbol>div {
    height: 0;
    width: 0;
    border-top: 8px solid transparent;
    border-left: 16px solid #F6F8FC;
    border-bottom: 8px solid transparent;
}

/*1. satirin en son kutucugu*/
.list-row {
    background-color: #F6F8FC;
    width: 13vw;
    height: 2vh;
}

/*2. satirin elemanlari*/
/*telefon resmi*/
#phone>div:nth-child(1) {
    background-color: #67A9F2;
    width: 5vw;
    height: 0.3vh;
}

#phone>div:nth-child(2) {
    background-color: #67A9F2;
    width: 11vw;
    height: 40vh;
    border-radius: 3px;
}

#phone>div:nth-child(3) {
    width: 2vw;
    height: 4vh;
    border-radius: 50%;
    background-color: #F6F8FC;
    border: 2px solid #67A9F2;
}

/*2. satirda ki ortada bulunan büyük image*/
.image-ball {
    background-color: #67A9F2;
    height: 6.5vh;
    width: 3vw;
    border-radius: 50%;
    position: relative;
    top: 11vh;
    right: 4vw;
}

.triangle-image {
    display: flex;
    align-items: baseline;
    position: relative;
    right: 1.5vw;
}

.triangle-image>div:nth-child(1) {
    height: 0;
    width: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #67A9F2;
    position: relative;
    left: 3vw;
}

.triangle-image>div:nth-child(2) {
    height: 0;
    width: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 80px solid #67A9F2;
}

#three-points {
    display: flex;
    justify-content: space-between;
    width: 4vw;
    height: 2vh;
}

#three-points>div {
    background-color: #67A9F2;
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
}

/*2. satirin sondaki kucuk resim elemani*/
.button-icon {
    background-color: #F6F8FC;
    width: 3.8vw;
    height: 5vh;
    border-radius: 20px;
}

.button-icon:nth-child(1)>div {
    width: 1.9vw;
    height: 4.4vh;
    border-radius: 50%;
    border: 2px solid #67A9F2;
}

.button-icon:nth-child(2) {
    margin-left: 0.8vw;
    display: flex;
    justify-content: flex-end;
}

.button-icon:nth-child(2)>div {
    width: 1.9vw;
    height: 4.4vh;
    border-radius: 50%;
    border: 2px solid #e0e2e6;
    background-color: #67A9F2;
}

/*3. satirin elemanlari*/
/*arama cubugu*/
#search>div:nth-child(1) {
    width: 38vw;
    height: 6vh;
    background-color: #67A9F2;
}

/*sosyal medya linkleri*/
#social-media>i:nth-child(n) {
    color: #F6F8FC;
    position: relative;
    bottom: 0.5vh;
}