body {
    display: flex;
    justify-content: center;
}

main {
    width: 80vw;
    height: 92vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 6vh;
    padding: 20px;
}

/*maini 3 satira ayirdim. satirlara rows classi atadim*/
.rows {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*ilk satirin elemanlari*/
#row1 {
    height: 20vh;
    z-index: 1;
}

/*text kutucugu*/
#text {
    width: 25vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*video kutucugu*/
#video {
    width: 35vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*1. satirin en son kutucugu*/
#list {
    width: 13vw;
    height: 30.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*2. satirin elemanlari*/
#row2 {
    height: 50vh;
    z-index: 0;
}

/*telefon resmi*/
#phone {
    width: 13vw;
    height: 50vh;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    row-gap: 2vh;
    padding-top: 2vh;
}

/*2. satirda ki ortada bulunan büyük image*/
#big-image {
    height: 52vh;
    width: 37vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

/*2. satirin sondaki kucuk resim elemani*/
#image-button {
    width: 23vw;
    height: 52vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#buttons {
    display: flex;
}

#little-image {
    width: 23vw;
    height: 33vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
}

/*3. satirin elemanlari*/
#row3 {
    height: 8vh;
}

/*arama cubugu*/
#search {
    width: 52vw;
    height: 6vh;
    border: 2px solid #F6F8FC;
}

/*sosyal medya linkleri*/
#social-media {
    width: 23vw;
    height: 6.5vh;
    display: flex;
    justify-content: space-between;
}