/*body kismi yuvarlaklarin ekran disina cikan kismi overflow ile gizlendi*/
body {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

/*main kisminda yuvarlak ve ana blogu merkeze almak icin flexbox ve position kullanildi*/
main {
    display: flex;
    justify-content: center;
}

.round {
    border-radius: 50%;
}

/*buyuk yuvarlaklari tek tek secmek icin pseude secici kullanildi*/
aside:nth-child(1) {
    width: 8vw;
    height: 17vh;
    position: absolute;
    left: 20vw;
    top: 2vh;
    background-color: rgb(144, 220, 230);
}

aside:nth-child(2) {
    width: 15vw;
    height: 33vh;
    position: absolute;
    right: 10vw;
    top: -5vh;
    background-color: rgb(67, 185, 194);
}

aside:nth-child(3) {
    width: 20vw;
    height: 44vh;
    position: absolute;
    left: -4vw;
    bottom: 20vh;
    background-color: rgb(93, 199, 218);
}

aside:nth-child(4) {
    width: 20vw;
    height: 44vh;
    position: absolute;
    right: -5vw;
    bottom: -5vh;
    background-color: rgb(163, 232, 241);
}

/*ana blogun tasan kisimlari overflow ile gizlendi*/
#mainbox {
    color: #75767a;
    width: 23vw;
    height: 85vh;
    background-color: rgb(255, 255, 255);
    margin-top: 6vh;
    overflow: hidden;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, .3);
    opacity: 0.9;
}

/*arka plan icin gradient kullanildi*/
header {
    height: 20vh;
    background: rgb(87, 148, 215);
    background: linear-gradient(90deg, rgba(87, 148, 215, 1) 0%, rgba(123, 133, 204, 0.896796218487395) 100%, rgba(144, 144, 159, 1) 100%);
}

/*header kisminA ait 3 adet yuvarlak  dizayn edildi*/
.headround {
    border-radius: 50%;
    background-color: rgb(175, 207, 206);
    opacity: 0.3;
}

header>div:nth-child(1) {
    width: 6vw;
    height: 13vh;
    position: relative;
    top: 4vh;
    left: 0vw;
}

header>div:nth-child(2) {
    width: 1vw;
    height: 2vh;
    position: relative;
    bottom: 9vh;
    left: 12vw;
}

header>div:nth-child(3) {
    width: 3vw;
    height: 7vh;
    position: relative;
    bottom: 13vh;
    left: 21vw;
}

/*header ksimindaki geri ve 3 nokta linklerinde flexbox kullanildi*/
#link {
    position: relative;
    bottom: 22vh;
    display: flex;
    justify-content: space-between;
}

#link>a {
    font-size: 20px;
    color: rgb(232, 233, 233);
    text-decoration: none;
    padding: 10px;
}

#link>a:hover {
    color: #ffffff;
}

/*bloklar biribiri uzerine bindiginden z index kullanildi*/
header img {
    position: relative;
    bottom: 27vh;
    left: 6vw;
    width: 4vw;
    height: 9vh;
    border-radius: 50%;
    z-index: 1;
}

#photoicon {
    position: relative;
    left: 12vw;
    bottom: 35vh;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgb(84, 235, 215);
    color: #ffffff;
    font-size: 12px;
    z-index: 2;
}

#photoicon>i {
    margin: 4px;
}

/*yarisi headerin icine gecmis tanitim kisminda flexbox kullanildi*/
#intro {
    width: 20vw;
    height: 27vh;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 5vw;
    left: 1.5vw;
    display: flex;
    flex-direction: column;
    z-index: 0;
    box-shadow: 1px 1px 10px #75767a;
}

.social {
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 5px 5px;
    z-index: -1;
}

.social:nth-child(1) {
    background-color: rgb(255, 255, 255);
    margin-top: 3vh;
    font-size: 20px;
    font-weight: bold;
}

.social:nth-child(3) {
    letter-spacing: 0.5em;
}

.settings {
    position: relative;
    bottom: 11vh;
    left: 1.5vw;
}

/*settings bloguna flex uygulandi*/
#tools {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #75767a;
    width: 20vw;
    height: 25vh;
    margin-top: 0px;
    opacity: 0.7;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

li {
    list-style-image: url(./heg.jpg);
    font-size: 13px;
}

#chevron {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    margin-right: 20px;
}

.footericon {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 14vh;
    transition: font-size 0.5s;
}

hr {
    position: relative;
    bottom: 15vh;
    box-shadow: 15px 0px 15px #000000;
    opacity: 0.3;
}

.social {
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #75767a;
}

/*settings in a ve li elemanlarina uzerine geldiginde resmi degismesi icin hover uygulandi
grup seciciler kullanildi */
a:hover,
li:hover {
    color: black;
    opacity: 1;
}

/*basliklara hover verildi, grup secici kullanildi*/
.social:first-child:hover,
h6:hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 1;
}

.social>a {
    transition: font-size 0.5s;
}

/*sosyal medya iconlarina ve footer icon bolumune grup secici kullanilarak hover verildi*/
.social>a:hover,
.footericon:hover {
    font-size: 18px;
}